[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ccc_v1_w_Mzc4M_94448/asn114069_2/asn114070_1/work/vectorAddition.c]
row=2
col=0

[Trash]
row=0
col=0

[/home/ccc_v1_w_Mzc4M_94448/asn114069_2/asn114070_1/work]
row=1
col=0

